.app,
#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.app {
	background-image: url(./assets/blurry-gradient.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	transition: transform 0.2s ease;
	font-size: 37px;
	user-select: none;
	white-space: nowrap;

	&.fade-out {
		-webkit-transform: translate(-50%, -50%) scale(0, 0);
	}

	&--winner {
		-webkit-transform: translate(-50%, -50%) scale(0, 0);
	}
	&.fade-in {
		-webkit-transform: translate(-50%, -50%) scale(1, 1);
	}
}
