/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito'),
       url('./font/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./font/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito'),
       url('./font/nunito-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./font/nunito-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	cursor: default;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Nunito', sans-serif;
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
	overscroll-behavior: contain;
	background: center / cover no-repeat url(./assets/blurry-gradient.svg);
	color: #fff;
}
